body {
    background-image: url('./../img/fondo.jpg');
    background-size: cover;
    /* Para ajustar la imagen al tamaño del contenedor */
    background-repeat: no-repeat;
    /* Para evitar la repetición de la imagen */
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #19636e;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}

input[type="submit"]:hover {
    background-color: #545454;
}
